html {
  height: 100%;
}

body {
  margin-top: 50px;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  font-family: "Alegreya Sans", sans-serif;
}

.weather-app {
  background-color: rgb(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
}

.date,
.time,
.city,
.temperature,
.five-day-forecast {
  text-align: center;
}

.date,
.time,
.city,
.main-temperature,
.five-day-forecast {
  color: #393f4e;
}

.celsius,
.fahrenheit {
  text-decoration: none;
}

.current-time,
.weather-detail {
  text-align: center;
}

.time {
  font-size: 35px;
}

.city {
  font-size: 65px;
}

.current-weather-icon {
  display: block;
  margin: 0 auto;
}

.main-temperature {
  font-size: 60px;
}

.units {
  font-size: 15px;
}

.weather-detail:first-letter {
  text-transform: capitalize;
}

.temperature .active {
  color: #393f4e;
  cursor: default;
}

.five-day-forecast img {
  height: 55px;
  width: 55px;
}

footer {
  font-family: monospace;
  text-align: center;
}
