html {
  height: 100%;
}

body {
  margin-top: 50px;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  font-family: "Alegreya Sans", sans-serif;
}

.weather-app {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 15px 0px;
  max-width: 700px;
  margin: 0 auto;
}

.date,
.time,
.city,
.current-weather-icon,
.temperature,
.five-day-forecast {
  text-align: center;
}

.date,
.time,
.city,
.current-weather-icon,
.temperature,
.celsius,
.fahrenheit,
.five-day-forecast {
  color: #393f4e;
}

.celsius,
.fahrenheit {
  text-decoration: none;
}

.time {
  font-size: 65px;
}

.city {
  font-size: 35px;
}

.current-weather-icon {
  font-size: 120px;
  line-height: 20px;
}

.degree-temp {
  font-size: 60px;
}

.celsius-fahrenheit {
  font-size: 15px;
}

.five-day-forecast {
  margin: 50px 0px 30px 50px;
}

footer {
  font-family: monospace;
  text-align: center;
}
