html {
  height: 100%;
}

body {
  margin-top: 50px;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  font-family: "Alegreya Sans", sans-serif;
}

.weather-app {
  border: 1px solid #393f4e;
  border-radius: 10px;
  padding: 20px 15px 0px;
  max-width: 700px;
  margin: 0 auto;
}

.date,
.time,
.city,
.temperature,
.five-day-forecast {
  text-align: center;
}

.date,
.time,
.city,
.temperature,
.celsius,
.fahrenheit,
.five-day-forecast {
  color: #393f4e;
}

.celsius,
.fahrenheit {
  text-decoration: none;
}

.current-time,
.weather-detail {
  text-align: center;
}

.time {
  font-size: 35px;
}

.city {
  font-size: 65px;
}

.current-weather-icon {
  display: block;
  margin: 0 auto;
}

.degree-temp {
  font-size: 60px;
}

.units {
  font-size: 15px;
}

.weather-detail:first-letter {
  text-transform: capitalize;
}

.five-day-forecast {
  margin: 50px 0px 30px 70px;
}

footer {
  font-family: monospace;
  text-align: center;
}
